@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .section {
    padding: 120px 0;
  }
  /* ----------header--------- */

  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-contacts {
    justify-content: flex-end;
  }
  .header-nav-wrap {
    width: 100%;
    gap: 0;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-logo-text {
    color: #2e2f42;
  }
  .header-logo-text > span {
    color: #4d5ae5;
  }

  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-mail,
  .header-tel {
    font-size: 16px;
    line-height: 1.5;
  }

  /* --------hero----------- */
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
    padding: 188px 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
  /* --------feature----------- */
  .feature {
    padding-bottom: 0;
  }
  .feature-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .feature-list {
    row-gap: 0;
  }
  .feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .feature-text {
    max-width: 264px;
    font-weight: 400;
  }

  .feature-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
    background: #f4f4fd;
    border-radius: 4px;
    padding: 24px 100px;
  }

  /* --------team----------- */
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }
  /* --------work----------- */

  .work {
    display: flex;
  }
  .work-title {
    margin-bottom: 72px;
  }
  .work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .work-item {
    width: calc((100% - 24px * 2) / 3);
  }

  /*---------customers-------*/
  .customers-list-icon {
    gap: 24px;
  }

  .customers-icon-item {
    width: calc((100% - 24px * 5) / 6);
  }
  /* --------footer----------- */
  .footer {
    padding: 100px 0;
  }
  .footer-slogan {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-social-list {
    justify-content: flex-start;
  }
  .footer-subscribe {
    justify-content: flex-end;
  }

  /* -------------PORTFOLIO---------------- */
  .portfolio {
    padding: 96px 0 120px;
  }

  .filter-list {
    margin-bottom: 72px;
  }

  .gallery-list {
    row-gap: 40px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  /* -------------MODAL---------------- */
}
