@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .section {
    padding: 120px 0;
  }
  /* ----------header--------- */
  .header {
    border-bottom: 1px solid var(--main-border-btn);
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-contacts {
    justify-content: flex-end;
  }
  .header-nav-wrap {
    position: static;
    width: 100%;
  }
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }
  .header-logo-text {
    color: #2e2f42;
  }
  .header-logo-text > span {
    color: #4d5ae5;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-item {
  }
  .header-link {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }
  .header-link.activ {
    color: var(--accent-color);
  }
  .header-link.activ::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: "";

    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .header-address {
  }
  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }
  .header-address-item {
  }
  .header-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .header-mail:hover,
  .header-mail:focus {
    color: var(--accent-color);
  }
  .header-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .header-tel:hover,
  .header-tel:focus {
    color: var(--accent-color);
  }

  /* --------hero----------- */
  .hero {
    max-width: 1440px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  /* --------feature----------- */
  .feature {
    padding-bottom: 0;
  }
  .feature-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .feature-text {
    max-width: 264px;
    font-weight: 400;
  }

  .feature-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
    background: #f4f4fd;
    border-radius: 4px;
    padding: 24px 100px;
  }
  .feature-icon {
    margin-bottom: 8px;
  }
  /* --------team----------- */
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }
  /* --------work----------- */

  .work {
    display: flex;
  }
  .work-title {
    margin-bottom: 72px;
  }
  .work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .work-item {
    width: calc((100% - 24px * 2) / 3);
  }

  /*---------customers-------*/
  .customers-list-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
    height: 100%;
  }

  .customers-icon-item {
    width: calc((100% - 24px * 5) / 6);
  }
}
