@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .section {
    padding: 120px 0;
  }
  /* ----------header--------- */

  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-contacts {
    justify-content: flex-end;
  }
  .header-nav-wrap {
    width: 100%;
    gap: 0;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-logo-text {
    color: #2e2f42;
  }
  .header-logo-text > span {
    color: #4d5ae5;
  }

  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-mail,
  .header-tel {
    font-size: 16px;
    line-height: 1.5;
  }

  /* --------hero----------- */
  .hero {
    max-width: 1440px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  /* --------feature----------- */
  .feature {
    padding-bottom: 0;
  }
  .feature-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .feature-list {
    row-gap: 0;
  }
  .feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .feature-text {
    max-width: 264px;
    font-weight: 400;
  }

  .feature-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
    background: #f4f4fd;
    border-radius: 4px;
    padding: 24px 100px;
  }

  /* --------team----------- */
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }
  /* --------work----------- */

  .work {
    display: flex;
  }
  .work-title {
    margin-bottom: 72px;
  }
  .work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .work-item {
    width: calc((100% - 24px * 2) / 3);
  }

  /*---------customers-------*/
  .customers-list-icon {
    gap: 24px;
  }

  .customers-icon-item {
    width: calc((100% - 24px * 5) / 6);
  }
  /* --------footer----------- */
  .footer {
    padding: 100px 0;
  }
  .footer-slogan {
    margin-right: 120px;
  }
  .footer-logo {
    min-width: 115px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: inline-block;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #f4f4fd;
  }
  .footer-logo > span {
    color: #4d5ae5;
  }
  .footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
  }
  .footer-container {
    display: flex;
    align-items: start;
  }
  .footer-social-content {
    margin-right: 80px;
  }
  .footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .footer-social-list {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }

  .footer-social-item {
    width: 40px;
    height: 40px;
  }
  .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #f4f4fd;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .footer-social-link:is(:hover, :focus) {
    background-color: #31d0aa;
  }
  .footer-social-icon {
    fill: currentColor;
  }
  .footer-subscribe {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  .footer-form {
    display: flex;
    align-items: flex-end;
  }
  .form-group {
    margin-right: 24px;
  }
  .footer-form-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-form-label span {
    display: block;
    margin-bottom: 16px;
  }
  .form-input {
    min-width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2e2f42;
    padding: 6px 16px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    outline: transparent;
  }
  .form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-btn {
    text-align: center;
    width: 169px;
    height: 40px;
    justify-content: center;
    color: #ffffff;
    background: #4d5ae5;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 8px 24px;
    gap: 16px;
    outline: transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .footer-btn:hover,
  .footer-btn:focus {
    background-color: var(--accent-color);
  }
  .footer-btn-send {
    fill: #fff;
  }
}
