@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }
}

@media screen and (max-width: 479px) {
  .header-social-list {
    gap: 24px;
  }
  .header-tel {
    font-size: 24px;
  }

  .hero-title {
    width: 100%;
    font-size: 36px;
  }
}
